.flex-container{
    display:flex;
    flex-direction: column;
    background-image:url(./images/henrik-donnestad-t2Sai-AqIpI-unsplash.jpg);
    color: white;
}
.header{
    display:flex;
    background:black;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
.logo{
    display:flex;
    font-size: 24px;
    font-weight:900;
    justify-content: center;
}
.links
{
    justify-content: flex-end;

}
.quote
{
    background-color:lightsteelblue;
}